# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
.pnpm-store/

# Build output
dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# Vite
.vite/
.cache/

# TypeScript
*.tsbuildinfo

# Testing / Coverage
coverage/
.vitest/

# Logs
*.log

# Editor / OS
.DS_Store
Thumbs.db

# VS Code
.vscode/
.history/

# IDEs
.idea/
*.iml

# Misc
*.swp